$gc : #94B49F;
$pc : #FF9494;

* {
    outline: 1px solid #f00;
}

body {
    background-color: black;
}

// LoadingPage --->
.loadingPage {
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/loadingPage_bg.jpg) no-repeat center center/cover;
    font-family: 'Noto Serif Telugu', serif;

    .loading-word {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 220px;

        .makeIt {
            font-size: 160px;
            white-space: nowrap;
        }
    }
}

// Header --->
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 70px;
    z-index: 99;

    .hd_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 70px;

        .gnb {
            font-size: 18px;
            font-weight: 900;
            color: $pc;

            ul {
                display: flex;

                h2 {
                    padding: 0 24px;
                }
            }
        }
    }
}

// Home --->
.Home {
    position: relative;

    width: 100%;
    height: 100vh;
    background-color: $gc;


    .animation-box {
        display: flex;
        flex-direction: column;
        z-index: 1;

        .a,
        .c,
        .e,
        .g,
        .i,
        .b,
        .d,
        .f,
        .h,
        .j {
            width: 100%;
            height: 10vh;
            animation: left 1s;
            background-color: black;
        }
    }

    @keyframes left {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0%);
        }
    }

    .title-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
        z-index: 3;

        .year {
            margin-bottom: 33px;
        }

        .title-img {
            margin-bottom: 72px;
        }

        .name {
            font-size: 26px;
            font-weight: 900;
        }
    }

    .cloud {
        position: absolute;
        width: 1600px;
        height: 910px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// About --->
.About {
    width: 100%;
    height: 2104px;
    background: url(../../public/assets/image/portfolio.jpg);
}

// Project --->
.Project {
    width: 100%;
    height: 100vh;

    span {
        font-size: 100px;
        font-weight: 900;
        color: #fff;
    }
}