$gc : #94B49F;
$pc : #FF9494;
$bc : #90A8CB;
$wc : #f9f9f9;

// * {
//     outline: 1px solid #f00;
// }

body {
    background-color: black;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

// LoadingPage --->
.loadingPage {
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/loadingPage_bg.jpg) no-repeat center center/cover;
    font-family: 'KoPub Batang', sans-serif;
    color: $wc;

    .loading-word {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 220px;
    }

    .Loading {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: $wc;
        font-size: 24px;
        animation: flash 1s ease infinite alternate;

        @keyframes flash {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }
}

// Header --->
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 100px;
    z-index: 99;

    .hd_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 70px;

        button {
            position: relative;
            transform: translateY(10%);
            z-index: 1000;

            div {
                transition: all 0.2s ease-out;

                &:nth-child(1),
                &:nth-child(3) {
                    width: 30px;
                    height: 4px;
                    background-color: $wc;
                    margin-bottom: 7px;
                }

                &:nth-child(2) {
                    width: 41px;
                    height: 4px;
                    background-color: $wc;
                    margin-bottom: 7px;
                    transition: all 0.1s ease-out;
                    opacity: 1;
                }
            }

            .on {
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    width: 41px;
                    height: 4px;
                    background-color: $pc;

                    margin-bottom: 7px;
                    rotate: 45deg;
                }

                &:nth-child(2) {
                    width: 41px;
                    height: 4px;
                    background-color: $pc;

                    margin-bottom: 7px;
                    opacity: 0;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 0;
                    width: 41px;
                    height: 4px;
                    background-color: $pc;
                    margin-bottom: 7px;
                    rotate: 135deg;
                }
            }
        }

        .gnb {
            font-size: 16px;
            font-weight: 900;
            color: $pc;

            ul {
                display: flex;

                h2 {
                    padding: 0 24px;
                }
            }
        }
    }

    .show-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        color: $wc;
        text-align: center;

        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h2 {
                font-size: 50px;
                font-weight: 900;
                line-height: 130px;

                &:hover {
                    color: #FF9494;
                }
            }
        }
    }

    .hide-menu {
        width: 100%;
        height: 100vh;
        display: none;
    }
}

// Home --->
.Home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/home_bg.jpg) no-repeat center center/cover;
    animation: fadein 1s ease-in-out;

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .title-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
        z-index: 3;

        .year {
            margin-bottom: 33px;
        }

        .title-img {
            margin-bottom: 72px;
        }

        .name {
            font-size: 26px;
            font-weight: 900;
        }
    }

    button {
        position: absolute;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: white;

        &::after {
            content: url("../../public/assets/image/arrow02.png");
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 50%);
            animation: motion01 0.7s ease-in infinite;
            animation-direction: alternate;

            @keyframes motion01 {
                0% {
                    margin-top: -10px;
                }

                100% {
                    margin-top: 10px;
                }
            }
        }
    }
}

// Divider --->
.Divider {
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

// About --->
.About {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/bg_bc.jpg) no-repeat center center/cover;
    // url(../../public/assets/image/toil.png) no-repeat center center/cover,
    font-family: 'KoPub Batang', sans-serif;
    z-index: -1;

    .inner {
        display: flex;
        text-align: right;
        position: absolute;
        top: 140px;
        left: 340px;
        // color: #fff;

        .left-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .about-title-img {
                margin-bottom: 23px;
            }

            .anti {
                font-size: 20.5px;
                margin-bottom: 100px;
            }

            // .beyond {
            //     font-size: 28px;
            //     font-weight: 700;
            //     margin-bottom: 30px;
            // }

            .name {
                font-size: 24px;
                line-height: 46px;
                color: $wc;
            }
        }

        .spaceman {
            margin-left: -34px;
            animation: motion02 0.8s ease-out infinite;
            animation-direction: alternate;

            @keyframes motion02 {
                0% {
                    margin-top: 0px;
                }

                100% {
                    margin-top: 15px;
                }
            }
        }
    }

    .earth {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 422px;
        // height: 327px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .toil {
        width: 100%;
        height: 100%;


        img {
            width: 100%;
            height: 100%;     
            // animation: motion03 0.7s ease-out infinite;
            // animation-direction: alternate;

            // @keyframes motion03 {
            //     0% {
            //         margin-top: -10px;
            //     }

            //     100% {
            //         margin-top: 5px;
            //     }
            // }  
        }
    }
}

// Forest --->
.Forest {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: -610px;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

// Project --->
.Project {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/toss.png) no-repeat center center/cover, url(../../public/assets/image/dot_bg.png) no-repeat center center/cover;
    z-index: 2;
    background-color: $wc;

    .project-title {
        border-bottom: 1px solid $bc;

        h2 {
            font-size: 100px;
            font-weight: 900;
            color: $bc;
            padding: 10px 70px;
        }

        ul {
            position: absolute;
            top: 50%;
            right: 70px;
            transform: translateY(-50%);
            z-index: 999;

            li {
                font-size: 26px;
                font-weight: 900;
                padding: 15px 0;
                text-align: right;

                .navLink {
                    position: relative;
                    color: #ddd;
                    font-weight: 700;
                }

                .navLink.active {
                    color: #222222;
                }

                span {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }

    .slide-content {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        .right-box {
            padding: 30px 65px;

            h3 {
                font-size: 50px;
                font-family: 'KoPub Batang', sans-serif;
                font-weight: 700;
                margin-bottom: 13px;
            }

            p {
                font-size: 17px;
                margin-bottom: 70px;
                white-space: pre-wrap;
                line-height: 24px;
            }

            ul {
                margin-bottom: 16px;

                li {
                    display: flex;

                    span {
                        position: relative;
                        display: block;
                        width: 100px;
                        font-size: 20px;
                        font-weight: 600;
                        color: $bc;

                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 26px;
                    }
                }
            }

            button {
                font-weight: 600;
                font-size: 14px;
                color: $bc;
                border: 1px solid $bc;
                padding: 14px 36px;
                margin-right: 24px;
            }
        }
    }
}

// Project03 ---> 
.Project.toy {
    background: url(../../public/assets/image/project03_bg01.jpg) no-repeat center center/cover;
    background-color: black;

    // .project-title {
    //     h2 {
    //         color: #fff;
    //     }
    // }

    .slide-content {
        .right-box {
            color: $wc;

            button {
                font-weight: 600;
                font-size: 14px;
                color: $wc;
                border: 1px solid $bc;
                padding: 14px 36px;
                margin-right: 24px;
            }
        }
    }
}