$gc : #94B49F;
$pc : #FF9494;
$bc : #90A8CB;

// * {
//     outline: 1px solid #f00;
// }

body {
    background-color: black;
    -ms-overflow-style: none;
    background: url(../../public/assets/image/all_bg.png);

    &::-webkit-scrollbar {
        display: none;
    }
}

// LoadingPage --->
.loadingPage {
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/loadingPage_bg.jpg) no-repeat center center/cover;
    font-family: 'KoPub Batang', sans-serif;
    color: $bc;

    .loading-word {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 220px;

        .makeIt {
            font-size: 160px;
            white-space: nowrap;
        }
    }

    .glitch {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 26px;
        color: white;
    }
}

// Header --->
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 100px;
    z-index: 99;

    .hd_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 70px;

        button {
            color: white;
        }

        .gnb {
            font-size: 18px;
            font-weight: 900;
            color: $pc;

            ul {
                display: flex;

                h2 {
                    padding: 0 24px;
                }
            }
        }
    }
}

// Home --->
.Home {
    position: relative;
    width: 100%;
    height: 100vh;

    .animation-box {
        display: flex;
        flex-direction: column;
        z-index: 1;

        .a,
        .c,
        .e,
        .g,
        .i,
        .b,
        .d,
        .f,
        .h,
        .j {
            width: 100%;
            height: 10vh;
            animation: left 1s;
            background-color: black;
        }
    }

    @keyframes left {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0%);
        }
    }

    .title-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
        z-index: 3;

        .year {
            margin-bottom: 33px;
        }

        .title-img {
            margin-bottom: 72px;
        }

        .name {
            font-size: 26px;
            font-weight: 900;
        }
    }

    .cloud {
        position: absolute;
        width: 1600px;
        height: 910px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    button {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 50px;
        z-index: 999;
        color: white;
    }
}

.line {
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

// About --->
.About {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/bg.jpg) no-repeat center center/cover;
    font-family: 'KoPub Batang', sans-serif;

    .inner {
        display: flex;
        text-align: right;

        .left-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                font-size: 24px;
            }
        }


    }

    .earth {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 422px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .forest {
        position: absolute;
        bottom: 0;
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            // filter: invert(99%) sepia(55%) saturate(0%) hue-rotate(302deg) brightness(114%) contrast(100%);
        }
    }

}

// Project --->
.Project {
    width: 100%;
    height: 100vh;
    background: url(../../public/assets/image/toss.png) no-repeat center center/cover;

    .project-title {
        border-bottom: 1px solid $bc;

        h2 {
            font-size: 100px;
            font-weight: 900;
            color: $bc;
            padding: 10px 70px;
        }
    }

    .slide-content {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        .right-box {
            padding: 30px 80px;

            h3 {
                font-size: 50px;
                font-family: 'KoPub Batang', sans-serif;
                font-weight: 700;
                margin-bottom: 13px;
            }

            p {
                font-size: 16px;
                margin-bottom: 40px;
            }

            ul {
                margin-bottom: 42px;

                li {
                    display: flex;

                    span {
                        display: block;
                        width: 100px;
                        font-size: 20px;
                        font-weight: 600;
                        color: $bc;
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }
                }
            }

            button {
                font-weight: 600;
                font-size: 14px;
                color: $bc;
                border: 1px solid $bc;
                padding: 14px 36px;
                margin-right: 24px;
            }
        }
    }

}